


/** {box-sizing: border-box;}*/


.things {
  text-align: center;
}

h2 {
  text-align: center;
}

/*flex fallback*/

.p-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

/*grid -- mobile */


.p-grid {
  display: grid;
  margin: 0 auto;
  /*grid-template-columns: repeat(auto-fill, minmax(150px 30vw));*/
  grid-template-columns: repeat(1, 1fr);
  /* grid-template-rows: 75vw; */
  grid-gap: 1rem;
}


.p-grid2 {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

/*grid*/

.p-grid2 {
  display: grid;
  margin: 0 auto;
  /*grid-template-columns: repeat(auto-fill, minmax(150px 30vw));*/
  /*grid-template-columns: repeat(3, 1fr);*/
  grid-template-columns: repeat(1, 1fr);
  /* grid-template-rows: 75vw; */
  grid-gap: 1rem;
}


@media screen and (min-width: 30em) and (max-width: 59em) {


/*grid*/

.p-grid {
  display: grid;
  margin: 0 auto;
  /*grid-template-columns: repeat(auto-fill, minmax(150px 30vw));*/
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: 35vw; */
  grid-gap: 1rem;
}


.p-grid2 {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

/*grid*/

.p-grid2 {
  display: grid;
  margin: 0 auto;
  /*grid-template-columns: repeat(auto-fill, minmax(150px 30vw));*/
  /*grid-template-columns: repeat(3, 1fr);*/
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: 35vw; */
  grid-gap: 1rem;
}




}



@media screen and (min-width: 59em) {

/*grid*/

.p-grid {
  display: grid;
  margin: 0 auto;
  /*grid-template-columns: repeat(auto-fill, minmax(150px 30vw));*/
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 35vw;
  grid-gap: 1rem;
}


.p-grid2 {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

/*grid*/

.p-grid2 {
  display: grid;
  margin: 0 auto;
  /*grid-template-columns: repeat(auto-fill, minmax(150px 30vw));*/
  /*grid-template-columns: repeat(3, 1fr);*/
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 35vw;
  grid-gap: 1rem;
}

}



/*item*/
.item {
  /*display: grid;*/
  /*height: 35vw;*/
  /*grid-template-columns: 20vw;*/

  /*grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr 1fr;*/

  /*grid-template-rows: minmax(60px auto);*/

}

.item2 {
  /*display: grid;*/
  /*height: 35vw;*/
  /*grid-template-columns: 20vw;*/

  /*grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr 1fr;*/

  /*grid-template-rows: minmax(60px auto);*/

}


.pik2 {
  /*fallback*/
  display: inline-block;
  /*actual*/
  display: inline-flex;
  background-position: center;
  background-size: 100% 100%;
  filter: url(#grayscale-filter);
}
.pik2:hover, .pik2:active, .pik2:focus {
  filter:none;
}


.pik2b {
  /*fallback*/
  /*display: inline-block;*/
  /*actual*/
  /*display: inline-flex;*/
  background-position: center;
  background-size: 100%;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  border-radius: 3px;
  filter: url(#grayscale-filter);
}
.pik2b:hover, .pik2b:active, .pik2b:focus {
  /*filter:none;*/
  filter: url(#grayscale-filter) url(#contrast) url(#colorize);
}

.pik2b iframe {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  width: 100%;
  height: 100%;
}

/*image container*/
.pik {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  border-radius: 3px;
  filter: url(#grayscale-filter);
  /*max-width: 20vw;
  max-height: 20vw;*/
}

/*image itself*/
.pik img {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.pik:hover, .pik:active, .pik:focus {
  /*filter: url(#grayscale-filter) url(#colorize);*/
  filter: url(#grayscale-filter) url(#contrast) url(#colorize);

  /*filter:none;*/
}

/*fl w-100 w-50-m  w-25-ns pa2-ns*/
/*.p-grid article {

}*/

/*ph2 ph0-ns pb3 link db*/
.words {
  /*text-decoration: none;*/
  padding-bottom: 1rem;
  padding-left: 0;
  padding-right: 0;
}


/*f5 f4-ns mb0 black-90*/
.title {
  color: rgba(0, 0, 0, .9);
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0;
}

/*f6 f5 fw4 mt2 black-60*/
.sub {
  color: rgba(0, 0, 0, .6);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.5rem;
}





h3 {
  font-size: 1.5em;
  text-align: center;
}

.list2 {
  margin-top: 2rem;
  /* margin-left: 38vw; */
  padding-left: 0em;
  font-size: 1.25rem;
  line-height: 2rem;
  list-style-type: none;
  text-align: center;
}

.list2 li {
  border-style: solid;
  border-width: 1px;
}

.list2 li:first-child {
  border-top-width: 2px;
}

.list2 li:last-child {
  border-bottom-width: 2px;
}


@media screen and (min-width: 30em) and (max-width: 59em) {


  /* h3 {
    font-size: 1.5em;
    text-align: center;
  }

  .list2 {
    margin-top: 2rem;
    margin-left: 38vw;
    font-size: 1.25rem;
    line-height: 2rem;
    list-style-type: none;
  } */


}


@media screen and (min-width: 59em) {



  .list2 {
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 500;
  }


}




/*

.words {
    text-decoration: none;
    transition: color .15s ease-in;
}

.words:link, .words:visited {
    transition: color .15s ease-in;
}

.words:hover {
    transition: color .15s ease-in;
}

.words:active {
    transition: color .15s ease-in;
}

.words:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}*/
