
      <a href="#main-menu"
         class="menu-toggle"
         role="button"
         id="main-menu-toggle"
         aria-expanded="false"
         aria-controls="main-menu"
         aria-label="Open main menu">
        <span class="sr-only">open main menu</span>
        <span class="med-nav">menu&nbsp;</span><span aria-hidden="true">⊕</span>
        <!-- class="fa fa-plus-square-o mover"  -->
      </a>
        <nav id="main-menu"
             class="main-menu"
             role="navigation"
             aria-expanded="false"
             aria-label="Main menu">

          <a href="#main-menu-toggle"
             class="menu-close"
             role="button"
             id="main-menu-close"
             aria-expanded="false"
             aria-controls="main-menu"
             aria-label="Close main menu">
            <span class="sr-only">close main menu</span>
            <span aria-hidden="true">⊕</span>
            <!-- class="fa fa-close" -->
            <!-- ⊕ ⊞ + ✚ -->
          </a>
        <ul>
          <li><a href="/about">about</a></li>
          <li><a href="/projects">projects</a></li>
          <li><a href="/writing">writing</a></li>
          <li><a href="/music">music</a></li>
          <!-- <li><a href="/">blog</a></li> -->

          <!-- <span class="nav-symbol">↳ </span> -->
        </ul>
      </nav>
      <a href="#main-menu-toggle"
         class="backdrop"
         tabindex="-1"
         aria-hidden="true"
         hidden></a>
