



<!--

tachyon grid relies on:

p = padding,
m = margins,
f = float + inline,
w = width percentage.
cf = clearfix + content " " + display table,
db = display block,
aspect-ratio = height 0 + position relative,
aspect-ratio 1x1 = padding-bottom 100%,
aspect-ratio object = position absolute + wid/height 100%,
cover = background size cover,
bg-center = background-repeat no-repeat + background-position center center

-->


<h2 class="things">things i've written</h2>


<!-- forceResize(800, 450) -->

<section class="p-grid">
  <article class="item">
    <a href="http://www.washingtoncitypaper.com/news/article/13043559/bear-essentials-experiencing-dcs-hairiest-gay-subculture"><div class="pik">
      {{ page.media['https://cdn.washingtoncitypaper.com/files/base/scomm/wcp/image/2013/01/640w/_dev_pubsys_images_20130109_cover_bears_24_257x387.jpg'].grayscale.html() }}
    </div></a>
    <div class="words">
      <p class="title"><a href="http://www.washingtoncitypaper.com/news/article/13043559/bear-essentials-experiencing-dcs-hairiest-gay-subculture">Bear Essentials</a></p>
      <p class="sub">WCP cover story about DC's gay bear history.</p></div>
  </article>
  <article class="item">
    <a href="https://www.washingtonpost.com/goingoutguide/sarah-silvermans-sweet-stupid-craft/2013/04/18/066d92e2-a21d-11e2-82bc-511538ae90a4_story.html"><div class="pik">
      {{ page.media['https://img.washingtonpost.com/rf/image_1484w/2010-2019/WashingtonPost/2013/04/16/Weekend/Images/Merlin_2971150.jpg?uuid=XH2w7KbpEeKwKY-36XfvcQ'].grayscale.html() }}
    </div></a>
    <div class="words">
      <p class="title"><a href="https://www.washingtonpost.com/goingoutguide/sarah-silvermans-sweet-stupid-craft/2013/04/18/066d92e2-a21d-11e2-82bc-511538ae90a4_story.html">Sarah Silverman</a></p>
      <p class="sub">“Audiences are like dogs — they can smell what’s underneath the material, and that’s something you can’t plan or fake. Sometimes people don’t buy it from me, and sometimes they do.”</p>
    </div>
  </article>
</section>

<h3 class="things">publications i've written for</h3>

<!-- section class = add 20vw left margin -->

<section class="list2">
<ul>
  <li><a href="http://www.rollingstone.com/contributor/ryan-little">Rolling Stone</a></li>
  <li><a href="https://www.google.com/search?q=site%3Awashingtonpost.com+%22by+Ryan+Little%22">The Washington Post</a></li>
  <li><a href="http://hyperallergic.com/author/ryan-little/">Hyperallergic</a></li>
  <li><a href="http://www.washingtoncitypaper.com/home/contact/13048435/ryan-little">Washington City Paper</a></li>
  <li><a href="https://www.tinymixtapes.com/writer/r.+little">Tiny Mix Tapes</a></li>
  <li><a href="https://web.archive.org/web/20160620172305/bandwidth.wamu.org/contributors/ryan-little">WAMU</a></li>
</ul>
</section>
